/**
 *
 * Slide Show (SCSS)
 *
 * @author Takuto Yanagida @ Space-Time Inc.
 * @version 2023-06-21
 *
 */


@use "sass:math";


$slide-show-size-width     : 72rem !default;
$slide-show-size-height-min: 14rem !default;
$slide-show-size-height-max: 80vh !default;
$slide-show-color-strip    : #777 !default;

$slide-show-slide-ratio        : math.div(5, 12) !default;
$slide-show-slide-size         : cover !default;
$slide-show-slide-shadow       : 32px 0 64px -32px rgba(#000, 0.25), -32px 0 64px -32px rgba(#000, 0.25) !default;
$slide-show-slide-color-outside: rgba(#000, 0.4) !default;
$slide-show-slide-color-dual   : rgba(#fff, 0.4) !default;

$slide-show-caption-color                 : #fff !default;
$slide-show-caption-color-shadow          : #000 !default;
$slide-show-caption-color-bg              : rgba(#000, 0.40) !default;
$slide-show-caption-size-font-circle      : 1.85rem !default;
$slide-show-caption-size-font-circle-phone: 1.50rem !default;
$slide-show-caption-size-font-line        : 1.85rem !default;
$slide-show-caption-line-type             : 'first-bold' !default;  // 'first-bold', 'not-last-bold', 'normal'

$slide-show-btn-size            : 2rem !default;
$slide-show-btn-size-stroke     : 2px !default;
$slide-show-btn-size-radius     : 50% !default;
$slide-show-btn-color           : rgba(#000, 0.40) !default;
$slide-show-btn-color-mark      : #fff !default;
$slide-show-btn-color-mark-hover: #fff !default;

$slide-show-rivet-size-width    : 0.5rem !default;
$slide-show-rivet-size-height   : 0.5rem !default;
$slide-show-rivet-size-radius   : 50% !default;
$slide-show-rivet-size-padding  : 0.25rem 1rem !default;
$slide-show-rivet-color         : rgba(#aaa, 0.9) !default;
$slide-show-rivet-color-selected: rgba(#fff, 0.9) !default;
$slide-show-rivet-shadow        : 0 0 0.25rem 1px rgba(#000, 0.5) !default;
$slide-show-rivet-overlap       : 0 !default;
$slide-show-rivet-top-phone     : true !default;


// -----------------------------------------------------------------------------


.st-slide-show {
	position      : relative;
	display       : flex;
	flex-direction: column;

	box-sizing: border-box;
	*,
	*::before,
	*::after {
		box-sizing: inherit;
	}
}

.st-slide-show {  // for CSS Specificity

	.st-slide-show-slides,
	.st-slide-show-picture {
		position: absolute;
		top     : 0;
		left    : 0;
		right   : 0;
		bottom  : 0;
	}

	.st-slide-show-frame {
		overflow-x: hidden;
	}

	.st-slide-show-strip {
		margin   : { left: auto; right: auto; }
		max-width: $slide-show-size-width;
		width    : 100%;

		background-color: $slide-show-color-strip;
		box-shadow:
			-33vw 0 0 $slide-show-color-strip,
			 33vw 0 0 $slide-show-color-strip;

		// for avoiding that lines are shown at the edge of box element on IE 11
		@media (-ms-high-contrast: active), (-ms-high-contrast: none) {  // for-ie
			position: relative;
			&::after {
				content : '';
				position: absolute;
				top     : 0;
				left    : -100vw;
				bottom  : 0;
				width   : 200vw;
				z-index : -1;

				background-color: $slide-show-color-strip;
			}
		}

		min-height: $slide-show-size-height-min;
		max-height: $slide-show-size-height-max;

		position: relative;
		@if ($slide-show-slide-ratio != false) {
			&::before {
				content: '';
				display: block;
				padding-top: ($slide-show-slide-ratio * 100%);
			}
		}
	}

	.st-slide-show-background-frame {
		position: absolute;
		top     : 0;
		bottom  : 0;
		width   : 100vw;
		overflow: hidden;

		> div {
			position: absolute;
			top     : 0;
			left    : 0;
			right   : 0;
			bottom  : 0;

			opacity         : 0;
			transform       : scale(2, 2);
			transform-origin: center center;

			background-size    : cover;
			background-position: center;
			background-repeat  : no-repeat;

			filter: blur(5px);
		}
	}

	.st-slide-show-slides {
		margin : 0;
		padding: 0;

		width : 100%;
		height: 100%;

		list-style: none;
		overflow  : hidden;

		box-shadow: $slide-show-slide-shadow;

		> li {
			position: absolute;
			top     : 0;
			width   : 100%;
			height  : 100%;

			overflow           : hidden;
			backface-visibility: hidden;

			background-color: $slide-show-slide-color-outside;

			> a {
				display: block;
				width  : 100%;
				height : 100%;
			}
		}
	}

}  // .st-slide-show


// -----------------------------------------------------------------------------


.st-slide-show {  // for CSS Specificity

	.st-slide-show-picture,
	.st-slide-show-picture > div {
		background-size    : $slide-show-slide-size;
		background-repeat  : no-repeat;
		background-position: center center;
		transition         : transform 10s;
	}

	.st-slide-show-picture:not(.dual) > div {
		position: absolute;
		top     : 0;
		left    : 0;
		right   : 0;
		bottom  : 0;
	}

	.st-slide-show-picture.scroll {
		> div {
			background-size: 100% auto;

			&:first-child {
				background-position: center top;
			}
		}
		&.do > div:first-child {
			transition         : transform 10s, background-position 10s;
			background-position: center bottom;
		}
	}

}  // .st-slide-show


// -----------------------------------------------------------------------------


.st-slide-show {  // for CSS Specificity

	.st-slide-show-picture.dual {
		display         : flex;
		background-color: $slide-show-slide-color-dual;

		> div {
			width : 50%;
			height: 100%;

			&:last-child {
				opacity   : 0;
				transition: opacity 1s;
			}
		}
		&.do > div:last-child {
			opacity: 1;
		}
		&.scroll {
			> div:last-child {
				background-position: center bottom;
			}
			&.do > div:last-child {
				transition         : opacity 1s, transform 9s 1s, background-position 9s 1s;
				background-position: center top;
			}
		}
	}

}  // .st-slide-show


// -----------------------------------------------------------------------------


.st-slide-show {  // for CSS Specificity

	.st-slide-show-video {
		position: relative;
		height  : 100%;

		video {
			position : absolute;
			top      : 50%;
			transform: translate(0, -50%);
		}
	}

}  // .st-slide-show


// -----------------------------------------------------------------------------


.st-slide-show {  // for CSS Specificity

	.st-slide-show-caption {
		opacity       : 0;
		z-index       : 1;
		pointer-events: none;

		color      : $slide-show-caption-color;
		text-shadow: 0 0 0.5rem $slide-show-caption-color-shadow;
		line-height: 1.25;

		body:not(.ios) & {
			font-feature-settings: 'pkna' 1;
		}

		&.visible {
			opacity            : 1;
			transition-property: opacity;
		}
		span > span { display: inline-block; }
	}

	.st-slide-show-caption.subtitle,
	.st-slide-show-caption.line {
		position: absolute;
		left    : 0;
		right   : 0;
		bottom  : 0;

		background-color: $slide-show-caption-color-bg;

		padding: 0.5rem 1rem;
		@media screen and (min-width: 600px), print and (min-width: base-to-px(148)) {  // for-ta
			padding: 0.85rem 1rem;
		}
	}

	.st-slide-show-caption.line {
		@media screen and (min-width: 900px), print and (min-width: base-to-px(210)) {  // for-tl
			padding: 0.85rem 2rem;

			display        : flex;
			flex-direction : column;
			align-items    : flex-start;
			justify-content: center;
			min-height     : 50%;

			background-color: transparent;

			> div {
				max-width: 100%;  // for IE
			}
			> div > span {
				display  : inline;
				-webkit-box-decoration-break: clone;
				box-decoration-break: clone;
				max-width: 100%;  // for IE

				background-color: $slide-show-caption-color-bg;
				font-size       : $slide-show-caption-size-font-line;
				line-height     : 1.5;
			}
			@if $slide-show-caption-line-type == 'first-bold' {
				div:first-child { font-weight: bold; }
			} @else if $slide-show-caption-line-type == 'not-last-bold' {
				div { font-weight: bold; }
				div:last-child { font-weight: normal; }
			}
			div:not(:first-child) { margin-top: 1rem; }
		}
	}

	.st-slide-show-caption.circle {
		position: absolute;
		top     : 0;
		left    : $slide-show-btn-size;
		right   : $slide-show-btn-size;
		bottom  : 0;

		display        : flex;
		align-items    : center;
		justify-content: center;

		flex-direction  : column;
		background-image: radial-gradient(circle closest-side at center center, $slide-show-caption-color-bg 50%, transparent 51%);

		&,
		& > div {
			text-align : center;
			line-height: 1.35;

			font-size: $slide-show-caption-size-font-circle-phone;
			@media screen and (min-width: 600px), print and (min-width: base-to-px(148)) {  // for-ta
				font-size: $slide-show-caption-size-font-circle;
			}
		}
		> div + div { margin-top: 0.5rem; }
	}

}  // .st-slide-show


// -----------------------------------------------------------------------------


.st-slide-show {  // for CSS Specificity

	$mark-size: $slide-show-btn-size * 0.45;

	.st-slide-show-prev,
	.st-slide-show-next {
		user-select: none;
		cursor     : pointer;

		margin  : 0;
		position: absolute;
		top     : 0;
		bottom  : 0;
		width   : $slide-show-btn-size;

		display        : flex;
		align-items    : center;
		justify-content: center;

		&:before {
			content : '';
			position: absolute;
			top     : 50%;
			left    : 50%;
			width   : $slide-show-btn-size;
			height  : $slide-show-btn-size;

			transform    : translate(math.div($slide-show-btn-size, -2), math.div($slide-show-btn-size, -2));
			border-radius: $slide-show-btn-size-radius;
			transition   : all 0.2s;
		}
		&:hover:before {
			background-color: $slide-show-btn-color;
		}
		&::after {
			content: '';
			transition: all 0.2s;

			width : $mark-size;
			height: $mark-size;

			border-top : $slide-show-btn-size-stroke solid $slide-show-btn-color-mark;
			border-left: $slide-show-btn-size-stroke solid $slide-show-btn-color-mark;

			transform-origin: #{$mark-size * 0.5} #{$mark-size * 0.5};
		}
		&:hover::after {
			border-top-color : $slide-show-btn-color-mark-hover;
			border-left-color: $slide-show-btn-color-mark-hover;
		}
	}
	.st-slide-show-next {
		right: 0;
		&::after { transform: translateX($mark-size * -0.25) rotate(135deg); }
	}
	.st-slide-show-prev {
		left: 0;
		&::after { transform: translateX($mark-size * 0.25) rotate(-45deg); }
	}

}  // .st-slide-show


// -----------------------------------------------------------------------------


.st-slide-show {  // for CSS Specificity

	.st-slide-show-rivets {
		position : absolute;
		left     : 50%;
		bottom: $slide-show-rivet-overlap;
		@if $slide-show-rivet-top-phone == true {
			@media screen and (max-width: 599.5px), print and (max-width: #{base-to-px(148) - 0.5}) {  // for-ph
				top   : $slide-show-rivet-overlap;
				bottom: initial;
			}
		}
		width    : 100%;
		z-index  : 2;
		transform: translateX(-50%);

		line-height: 1;
		text-align: center;

		> input[type=radio] + label {
			display: inline-block;
			padding: $slide-show-rivet-size-padding;
			cursor : pointer;

			&::after {
				content: '';
				display: block;
				width  : $slide-show-rivet-size-width;
				height : $slide-show-rivet-size-height;

				border-radius   : $slide-show-rivet-size-radius;
				background-color: $slide-show-rivet-color;
				box-shadow      : $slide-show-rivet-shadow;
			}
		}
		> input[type=radio]:checked + label {
			pointer-events: none;
			&::after {
				background-color: $slide-show-rivet-color-selected;
			}
		}
	}

}  // .st-slide-show
